PORT=3001
DATABASE_URL="mysql://USER:PASSWORD@HOST:3306/DATABASE"
JWT_SECRET="cambia_esto_por_un_secreto_largo"
JWT_EXPIRES_IN="180d"
UPLOADS_DIR="/home/u481994780/domains/TU_DOMINIO_PRINCIPAL/public_html/uploads-expo"
RESEND_API_KEY=""
